.footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3b3b3b;
    color: white;
    line-height:2rem;
    padding:1rem 2rem;
}

.address
{
    display: flex;
    flex-direction: column;
    text-align: right;
}